# Dependencies
node_modules

# Next.js build output
.next
out
.turbo

# Environment & secrets
.env
.env.*

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
*.swp
.idea
.vscode

# Coverage / build artifacts
coverage
dist
build

# Vercel / deployment
.vercel
